.brand{
    height: 10%;
    width: 10%;
    top: 15;
    left: 15;
    position: absolute;;


    
}
.col-2 col-visual{
    height: 30%;
    width: 30%;
}
.sub-head{
    color: whitesmoke;
}
.presentation-3{
    color: #5f6c7b;
}
.container-menu{
    font-family: 'Libre Baskerville', serif;
}
.hero{
    background-color:whitesmoke;
}
.cols-2-half{
    font-family: 'Libre Baskerville', serif;
}


.section-selector-1 {
    font-family: 'Libre Baskerville', serif;
    background-color: #094067;
    letter-spacing: 1px;}

.allheadings {font-family: 'Libre Baskerville', serif;}

.section-selector-2{
    background-color: #38598b;
    font-family: 'Libre Baskerville', serif;
}
.presentation-2{
    color: #5f6c7b;
}
.allfooters {
    background-color: #506f85;
    font-family: 'Libre Baskerville', serif;}

.section-selector-1 h2{
    color: whitesmoke;
}

.section-selector-2 h1{
    color: #38598b;
}
.section-selector-2 h2{
    color: #5f6c7b;
}
.section-selector-2 h3{
    color: whitesmoke;
}
.cols-2-half h1{
    color: #094067;
}
.cols-2-half h2{
    color: #5f6c7b;
}

.space{
    background-color: whitesmoke;
}
